.swiper-container {
  position: relative;

  .swiper {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s border-color;

    &.disabled {
      border-color: rgba(0, 0, 0, 0.5);
      cursor: not-allowed;
    }

    &.right {
      transform: translateY(-50%) rotate(-45deg);
      right: -5px;
    }

    &.left {
      transform: translateY(-50%) rotate(135deg);
      left: -5px;
    }
  }
}
